<style>
body {
  background-color: linen;
}

navbar {
  color: magenta;
  margin-right: 100px;
  margin-top: 20px;
}

h1 {
  color: maroon;
  margin-left: 600px;
  margin-top: 150px;
} 


</style>
<div id="navbar" >
History  |   Cart  |  Profile
</div>
<h1> Welcome to our site! </h1>
