<%= current_user.name %>

<h3>History</h3>

<% if current_user.carts.where(status: false) %>

<% old_carts = current_user.carts.select { |cart| cart.status == false } %>
<% if old_carts.length == 0 %>
	You have no purchase history at this time! Get shoppin', NOW!
<% else %>
	<% old_carts.each do  |cart|  %>
	<% cart.each do  |line_items|  %>
	<%= line_items.item.name %> <br>
<% end %>
	<% end %>
<% end %>
<% end %>
<br><br>
<%= link_to "Back to #{current_user.name}'s page", user_path(current_user) %>