<style>
  body {
    background-color: linen;
  }

  h1 {
    color: maroon;
    margin-left: 500px;
  }

  h2 {
    color: indigo;
    margin-right: 200px;
  }

  p {
    font-family: "Helvetica";
    color: blue;
    margin-right: 200px;
  }
</style>
<h1> Welcome to our site! </h1>

<h2>
  Welcome, <%= @user.name %>!
</h2>

<p>Category:</p>
<%= collection_select :item, :catgory_id, Category.all, :id, :name %>
<%= submit_tag "Search" %>
